<!-- Di dalam berkas views/Account.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account</title>
  <!-- Tambahkan CSS eksternal atau tambahkan styling internal di sini -->
</head>

<body>
  <header>
    <!-- Tambahkan header sesuai kebutuhan -->
    <h1>INI TAMPILAN DETAIL AKUN ADMIN</h1>
  </header>

  <main>
    <!-- Tampilkan informasi pengguna di sini -->
    <section>

      <h2>Admin Information</h2>
      <p>Name: <%= user.name %></p>
      <p>Email: <%= user.email %></p>
      <!-- Tambahkan informasi lainnya sesuai kebutuhan -->
    </section>

    <!-- Tambahkan bagian lain dari halaman akun di sini -->

    <!-- Contoh: Tombol untuk logout -->
    <section>
      <form action="/logout" method="DELETE">
        <button type="submit">Logout</button>
      </form>
    </section>
  </main>

  <footer>
    <!-- Tambahkan footer sesuai kebutuhan -->
    <p>© 2024 YourWebsite.com. All rights reserved.</p>
  </footer>

  <!-- Tambahkan script JS eksternal atau tambahkan script internal di sini -->
</body>

</html>
