<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Profile</title>
</head>
<body>
    <h1>Change Profile</h1>
    <p>No Handphone: <%= user.hp %></p>
    <form action="/change-profile" method="post">
        <label for="newPhoneNumber">New Phone Number:</label><br>
        <input type="text" id="newPhoneNumber" name="newPhoneNumber" required><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
