<!DOCTYPE html>
<html>
<head>
  <title>Upload Gambar</title>
</head>
<body>
  <h1>Upload Gambar</h1>
  <% if (message) { %>
    <p><%= message %></p>
  <% } %>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="gambar" required>
    <button type="submit">Upload</button>
  </form>
</body>
</html>