<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/output.css" rel="stylesheet">
  <script src="./node_modules/preline/dist/preline.js"></script>

</head>
<body style="background-color: #f8f9fa;">




  <!-- ========== HEADER ========== -->
<header class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white border-b border-gray-200 text-sm py-3 sm:py-0"  >
  <nav class="relative max-w- w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between sm:px- lg:px-8"  aria-label="Global">
    <div class="flex items-center justify-between">
      <img src="/images/logo.svg">
    </div>
    <div id="navbar-collapse-with-animation"  class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block">
      <div class="flex flex-col gap-y-4 gap-x-0 mt-5 sm:flex-row sm:items-center sm:gap-y-0 sm:gap-x-7 sm:mt-0 sm:ps-7">
        <br>
        <a class="font-medium text-gray-500 hover:text-gray-400 sm:py-6" href="/home">Home</a>
        <a class="font-medium sm:py-6" style="color: #388E3C ;" href="#" aria-current="page">Layanan</a>
        <a class="font-medium text-gray-500 hover:text-gray-400 sm:py-6" href="#">Riwayat</a>

        <div class="container mx-auto mt-4">
       

        </div>


          <h1 class="font-medium text-gray-500" style="color: #388E3C; white-space: nowrap;"><%= user.email %></h1>


        <nav class="flex justify-between px-4 py-2 text-white">
          <div >
              <div>
                  <div class="hs-dropdown " data-hs-dropdown-placement="bottom-right">
                    <button id="hs-dropdown-with-header" class="rounded-full" type="button" style="width: 50px; height: 50px; background-color: aqua;">
                      <img class="rounded-full"  src="https://lh3.googleusercontent.com/a/ACg8ocJ1H3DxS0qAPJZMJbBFu5iAA0hhd5yRuEfOyNMfYNEnQepUQHKn=s260-c-no" alt="Image Description">
                    </button>
                    <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-[200px] max-w-[400px] z-10 bg-white shadow-md rounded-lg p-2" style="background-color: white;" aria-labelledby="hs-dropdown-with-header">
                      <div class="mt-2 py-2 first:pt-0 last:pb-0">
                          <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" href="#">
                              <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"/><path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"/></svg>
                              notification
                          </a>
                          <a href="/profile" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" href="#">
                              <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
                              Profile
                          </a>
                          <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" href="/logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                              <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                  <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"/><path d="M12 12v9"/><path d="m8 17 4 4 4-4"/>
                              </svg>
                              Log-out
                          </a>
                  
                          <form id="logout-form" action="/logout" method="DELETE" style="display: none;">
                              <input type="hidden" name="_method" value="DELETE">
                          </form>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
          </nav>
        

      

</header>
<!-- ========== END HEADER ========== -->

<!-- ========== MAIN ========== -->


<!-- Card Section -->
<div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    
    <form>
        <!-- Card -->
        <div class="bg-white rounded-xl shadow">
            <div class="relative h-20 rounded-t-xl bg-no-repeat bg-cover bg-center" style="background-color: #388E3C;" >
                <div class="text-center">
                
                    <br>
                    <h2 class="text-2xl md:text-3xl font-bold text-white  ">
                        Formulir Permintaan Surat Keterangan Aktif Kuliah
                    </h2>
                    <br>
                </div>
            </div>

            <div class="pt-0 p-4 sm:pt-0 sm:p-7">
                <!-- Grid -->
                <div class="space-y-4 sm:space-y-6">
                    <div>
                        <div class="grid sm:flex sm:items-center sm:gap-x-5">
                            <div class="mt-4 sm:mt-auto sm:mb-1.5 flex justify-center sm:justify-start gap-2"></div>
                        </div>
                    </div>
                    
                    <div class="space-y-2" id="nama">
                        <label for="af-submit-app-project-name" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            NAMA LENGKAP MAHASISWA/I
                        </label>
                        <input id="af-submit-app-project-name" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" disabled value="<%=user.name %>">
                    </div>
                    <div class="space-y-2" id="nim">
                        <label for="af-submit-project-url" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            NOMOR INDUK MAHASISWA (NIM)
                        </label>
                        <input id="af-submit-project-url" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" disabled value="<%=user.nim %>">
                    </div>
                    <div class="space-y-2" id="Departemen">
                        <label for="af-submit-project-department" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            DEPARTEMEN
                        </label>
                        <input id="af-submit-project-department" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" disabled value="<%=user.departemen %>">
                    </div>
                    
                    <div class="space-y-2">
                        <label for="af-submit-app-category" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            Tujuan permintaan surat
                        </label>
                        <select id="af-submit-app-category" class="py-2 px-3 pe-9 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                            <option value="default" selected>Pilih tujuan</option>
                            <option value="Pribadi">Pribadi</option>
                            <option value="Orang tua">Orang tua</option>
                        </select>
                    </div>
                    
                    <div class="space-y-2" id="untuk" style="display:none;" >
                        <label for="af-submit-parent-name" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            UNTUK:
                        </label>
                        <input id="af-submit-parent-name" name="untuk" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Masukan Tujuan Surat">
                    </div>
                    <div class="space-y-2" id="nama-orang-tua" style="display:none;">
                        <label for="af-submit-parent-name" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            NAMA ORANG TUA
                        </label>
                        <input id="af-submit-parent-name" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Masukan Nama Orang Tua">
                    </div>
                    <div class="space-y-2" id="nip" style="display:none;">
                        <label for="af-submit-parent-name" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            NIP
                        </label>
                        <input id="af-submit-parent-name" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Masukan NIP">
                    </div>
                    <div class="space-y-2" id="pangkat-golongan" style="display:none;">
                        <label for="af-submit-parent-name" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            PANGKAT DAN GOLONGAN
                        </label>
                        <input id="af-submit-parent-name" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Masukan Pangkat & Golongan">
                    </div>
                    <div class="space-y-2" id="unit-kerja" style="display:none;">
                        <label for="af-submit-parent-name" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            UNIT KERJA
                        </label>
                        <input id="af-submit-parent-name" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Enter parent name">
                    </div>
                    <div class="space-y-2" id="instansi-induk" style="display:none;">
                        <label for="af-submit-parent-name" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            INSTANSI INDUK
                        </label>
                        <input id="af-submit-parent-name" type="text" class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Enter parent name">
                    </div>
                    <div class="space-y-2" id="description" style="display:none;">
                        <label for="af-submit-app-description" class="inline-block text-sm font-medium text-gray-800 mt-2.5">
                            Description
                        </label>
                        <textarea id="af-submit-app-description" class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" rows="6" placeholder="A detailed summary will better explain your products to the audiences. Our users will see this in your dedicated product page."></textarea>
                    </div>

                    <div class="space-y-2" id="file" style="display:none;">
                        <label for="af-submit-app-upload-images" class="inline-block text-sm font-medium text-gray-800 mt-2.5 dark:text-neutral-200">
                            UPLOAD BERKAS (SK Terakhir Orang Tua dan KRS Terakhir)
                        </label>
                
                        <label for="af-submit-app-upload-images" style="border: 2px dashed gray; padding: 1rem 1.5rem; cursor: pointer; text-align: center; border-radius: 0.5rem; outline: none;" class="group p-4 sm:p-7 block cursor-pointer text-center border-2 border-dashed border-gray-200 rounded-lg focus-within:outline-none focus-within:ring-2 focus-within:ring-blue-500 focus-within:ring-offset-2 dark:border-neutral-700">
                            <input id="af-submit-app-upload-images" name="af-submit-app-upload-images" type="file" class="sr-only">
                            <svg class="size-10 mx-auto text-gray-400 dark:text-neutral-600" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
                                <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                            </svg>
                            <span class="mt-2 block text-sm text-gray-800 dark:text-neutral-200">
                                Browse your device or <span class="group-hover:text-blue-700 text-blue-600">drag 'n drop'</span>
                            </span>
                            <span class="mt-1 block text-xs text-gray-500 dark:text-neutral-500">
                                Maximum file size is 2 MB
                            </span>
                        </label>
                    </div>
                </div>
                <!-- End Grid -->

                <div class="mt-5 flex justify-center gap-x-2">
                    <button type="submit" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none">
                        Submit
                    </button>
                </div>
            </div>
        </div>
        <!-- End Card -->
    </form>
  </div>
  <!-- End Card Section -->


<!-- ========== FOOTER ========== -->
<footer class="bg-white border-b border-gray-200 mt-auto w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto" >
  <!-- Grid -->
  <div class="text-center">
    <div>
      <a class="flex-none text-xl font-semibold text-black" href="#" aria-label="Brand">FTI UNAND</a>
    </div>
    <!-- End Col -->

    <div class="mt-3">
      <p class="text-gray-500">We're part of the <a class="font-semibold text-pink-600 hover:text-blue-700" style="color: #388E3C;" href="#">Andalas University</a> </p>
      <p class="text-gray-500">© Kelompok 7. 2024 Andalas University. All rights reserved.</p>
    </div>

    <!-- Social Brands -->
    <div class="mt-3 space-x-2">
      <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" href="#">
        <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
        </svg>
      </a>
      <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" href="#">
        <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
        </svg>
      </a>
      <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" href="#">
        <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
        </svg>
      </a>
      <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" href="#">
        <svg class="flex-shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111C0 9.186.756 8.43 1.68 8.43h1.682v1.68zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68v-4.21zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682H5.89zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682h4.21zm6.749 1.682c0-.926.755-1.682 1.68-1.682.925 0 1.681.756 1.681 1.681s-.756 1.681-1.68 1.681h-1.681V5.89zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68v4.21zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68 0-.925.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681h-4.21z"/>
        </svg>
      </a>
    </div>
    <!-- End Social Brands -->
  </div>
  <!-- End Grid -->
</footer>
<!-- ========== END FOOTER ========== -->

<script>
    function handleSelectChange(event) {
        const selectedValue = event.target.value;
        const namaOrangTua = document.getElementById('nama-orang-tua');
        const nip = document.getElementById('nip');
        const pangkatGolongan = document.getElementById('pangkat-golongan');
        const unitKerja = document.getElementById('unit-kerja');
        const instansiInduk = document.getElementById('instansi-induk');
        const file = document.getElementById('file');
        const untuk = document.getElementById('untuk');

        if (selectedValue === 'Pribadi') {

            file.style.display = 'block';
            namaOrangTua.style.display = 'none';
            description.style.display = 'none';
            nip.style.display = 'none';
            pangkatGolongan.style.display = 'none';
            unitKerja.style.display = 'none';
            instansiInduk.style.display = 'none';
            untuk.style.display = 'block';
            

        } else if (selectedValue === 'Orang tua') {
            namaOrangTua.style.display = 'block';
            nip.style.display = 'block';
            pangkatGolongan.style.display = 'block';
            unitKerja.style.display = 'block';
            instansiInduk.style.display = 'block';
            file.style.display = 'block';
            untuk.style.display = 'block';
        }
        else {
            file.style.display = 'none';
            namaOrangTua.style.display = 'none';
            description.style.display = 'none';
            nip.style.display = 'none';
            pangkatGolongan.style.display = 'none';
            unitKerja.style.display = 'none';
            instansiInduk.style.display = 'none';
            untuk.style.display = 'none';
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('af-submit-app-category').addEventListener('change', handleSelectChange);
    });
</script>

<script src="/preline/preline.js"></script>

</body>
</html>