<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/output.css" rel="stylesheet">
  <script src="./node_modules/preline/dist/preline.js"></script>

</head>
<body style="background-color: #f8f9fa;">




  <!-- ========== HEADER ========== -->
<header class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white border-b border-gray-200 text-sm py-3 sm:py-0"  >
  <nav class="relative max-w- w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between sm:px- lg:px-8"  aria-label="Global">
    <div class="flex items-center justify-between">
      <img src="/images/logo.svg">
    </div>
    <div id="navbar-collapse-with-animation"  class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block">
      <div class="flex flex-col gap-y-4 gap-x-0 mt-5 sm:flex-row sm:items-center sm:gap-y-0 sm:gap-x-7 sm:mt-0 sm:ps-7">
        <br>
        <a class="font-medium sm:py-6" style="color: #388E3C ;" href="/home" aria-current="page">Home</a>
        <a class="font-medium text-gray-500 hover:text-gray-400 sm:py-6" href="#">Request</a>
        <a class="font-medium text-gray-500 hover:text-gray-400 sm:py-6" href="#">History</a>
        
        <div class="container mx-auto mt-4">
       
            <!-- Jika user sudah login -->
            <h1> </h1>
            <p> </p>
            <!-- Tambahkan informasi pengguna lainnya di sini jika diperlukan -->
         
        </div>
        <% if (userLoggedIn) { %>

          <h1 class="font-medium text-gray-500" style="color: #388E3C; white-space: nowrap;">Welcome, <%= user.name %>!</h1>


        <nav class="flex justify-between px-4 py-2 text-white">
          <div >
              <div>
                  <!-- Jika user sudah login -->
                  <div class="hs-dropdown " data-hs-dropdown-placement="bottom-right">
                    <button id="hs-dropdown-with-header" class="rounded-full" type="button" style="width: 50px; height: 50px; background-color: aqua;">
                      <img class="rounded-full"  src="https://lh3.googleusercontent.com/a/ACg8ocJ1H3DxS0qAPJZMJbBFu5iAA0hhd5yRuEfOyNMfYNEnQepUQHKn=s260-c-no" alt="Image Description">
                    </button>
                    <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 max-w-[200px] z-10 bg-white shadow-md rounded-lg p-2 dark:bg-neutral-800 dark:border dark:border-neutral-700" style="background-color: white;" aria-labelledby="hs-dropdown-with-header">
                        <div class="py-3 px-5 -m-2 bg-gray-100 rounded-t-lg dark:bg-neutral-700">
                            <p class="text-sm text-gray-500 dark:text-neutral-400" style="padding-left: 10px;">Signed in as</p>
                            <p class="text-sm font-medium text-gray-800 dark:text-neutral-300" style="padding: 10px 10px 0px 10px;"><%= user.email %></p>
                        </div>
                        <div class="mt-2 py-2 first:pt-0 last:pb-0">
                            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" href="#">
                                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"/><path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"/></svg>
                                notification
                            </a>
                            <a href="/profil" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" href="#">
                              <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
                              Profile
                            </a>
                            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" href="/logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                              <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                  <path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"/><path d="M12 12v9"/><path d="m8 17 4 4 4-4"/>
                              </svg>
                              Log-out
                          </a>
                          
                          <form id="logout-form" action="/logout" method="DELETE" style="display: none;">
                              <input type="hidden" name="_method" value="DELETE">
                          </form>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </nav>
          
        <% } else { %>    
          <nav class="flex justify-between bg-green-600 px-4 py-2 text-white hover:bg-green-700" style="border-radius: 10px;">
            <div >
                <div>      
                  <!-- Jika user belum login -->
                  <a class="flex items-center gap-x-2 font-medium text-white hover:text-green-500 hover:bg-black-900 hover:border-green-500" href="/login">
                      <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/>
                      </svg>
                      Login
                  </a>
                </div>
              </div>
          </nav>
        <% } %>

      

</header>
<!-- ========== END HEADER ========== -->


<div style="position: relative; text-align: center; color: white;">
  <img style="width: 100%; height: auto; display: block;" src="/images/FTI.svg" alt="Gambar">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 24px; font-weight: bold;">
    <div >
      <h1 class="mb-5 text-5xl font-bold" style="text-align: center;margin-top: 20px; margin-bottom: 20px;">Selamat Datang DI Pusat Pelayanan FTI</h1>
      <p class="mb-5 font-medium" style="margin-top: 20px; margin-bottom: 20px;">Website dikelola langsung oleh tim IT FTI <br>
        Pusat informasi dan seluruh permintaan dan permohonan dari mahasiswa dapat di ajukan di sini.</p>
      <button class="btn btn-primary" style="margin-top: 20px; margin-bottom: 20px; background-color:#5CB874;border: #5CB874;">Informasi</button>
    </div>
  </div>
</div>




<div style="display: flex; align-items: center; justify-content: space-around; padding: 20px;">
  <div style="flex: 1; margin-right: 20px;">
      <img src="/images/FTI1.svg" alt="Gambar" style="width: 100%; height: auto; display: block;">
  </div>
  <div style="flex: 1; margin-left: 20px;">
      <p>Teks Anda disini...</p>
  </div>
</div>


<script src="/preline/preline.js"></script>

</body>
</html>