<%- include("../layout/navbar.ejs") %>

<!-- ========== MAIN ========== -->



<!-- Contact Us -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto" >
    <div class=""style="width: 1200px;">
      
        <!-- Card -->
        <div style="display: grid; grid-template-columns: 2fr 1fr; gap: 20px;width: 1200px;" >
          <div class="flex flex-col border rounded-xl p-4 sm:p-6 lg:p-8" style="width: 100%;">
            <!-- Konten elemen pertama -->
            <div style=" padding: 20px; box-sizing: border-box;opacity: 0.8;">        
        
                <span style="font-weight: bold;">Syarat Pengurusan Dokumen Surat Keterangan Aktif Kuliah FTI UNAND</span><br>
                <br>        
                <p style="font-weight:600;margin-bottom: 5px;">a. Untuk pribadi (Beasiswa, dll) </p>
                <p style="margin-left: 20px; margin-top: 0;">- KRS yang ditandatangani Pembimbing Akademik</p>
                <br>
                <p style="font-weight:600;margin-bottom: 5px;">b. Untuk Orang Tua (Tunjangan, Taspen & BPJS)</p>
                <p style="margin-left: 20px; margin-top: 0;">- KRS yang ditandatangani Pembimbing Akademik</p>
                <p style="margin-left: 20px; margin-bottom: 0;">- SK Terakhir Orang Tua (bagi PNS)</p>
                <br>
                <br>
                <br>
                <span style="font-weight: bold;">Pengurusan secara online mahasiswa dapat mengisi form berikut</span><br>
                <div class="mt-4 grid">
                    <a href="/layanan/form" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none">
                        Formulir Permintaan Surat Keterangan Aktif Kuliah
                    </a>
                </div>
                
            </div>

      
  
  
          </div>
          <div class="flex flex-col border rounded-xl p-4 sm:p-6 lg:p-8">
            <!-- Konten elemen kedua -->
            <div style=" padding: 20px; box-sizing: border-box;opacity: 0.8;">        
        
                <span style="font-weight: bold;">WAKTU LAYANAN</span><br>
                <br>        
                <p style="display: flex; justify-content: space-between;">
                    <span style="flex: 1; text-align: left; white-space: nowrap;">Senin - Kamis</span>
                    <span style="flex: 1; text-align: left;">: 08.00 - 16.00 WIB</span>
                </p>
                <p style="display: flex; justify-content: space-between;">
                    <span style="flex: 1; text-align: left; white-space: nowrap;">Jumat</span>
                    <span style="flex: 1; text-align: left;">: 08.00 - 16.30 WIB</span>
                </p>

                <br>
                <br>
                <span style="font-weight: bold;">WAKTU ISTIRAHAT</span><br>
                <br>        
                    </p>
                    <p style="display: flex; justify-content: space-between;">
                        <span style="flex: 1; text-align: left; white-space: nowrap;">Senin - Kamis</span>
                        <span style="flex: 1; text-align: left;">: 12.00 - 13.00 WIB</span>
                    </p>
                    <p style="display: flex; justify-content: space-between;">
                        <span style="flex: 1; text-align: left; white-space: nowrap;">Jumat</span>
                        <span style="flex: 1; text-align: left;">: 12.00 - 13.30 WIB</span>
                    </p>
            </div>
      
  
          </div>
        </div>
  
        
        </div>
    
    </div>
  </div>
  <!-- End Contact Us -->


  <%- include("../layout/footer.ejs") %>


