


<div id="notification-container" class="notification-container"></div>


<style>
  .notification-container {
    position: fixed;
    bottom: 20px; /* Adjusted to bottom */
    right: 20px;
    width: 320px;
    z-index: 1000;
    display: flex;
    flex-direction: column-reverse; /* Display notifications in reverse order */
    gap: 10px;
  }

  .notification {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
  }

  .notification:hover {
    transform: scale(1.02);
  }

  .notification-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }

  .notification-message {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }

  .notification-timestamp {
    font-size: 12px;
    color: #999;
    text-align: right;
  }

  .notification-fade-out {
    opacity: 0;
    transform: translateY(-20px);
  }
</style>
<!-- Menyertakan script untuk socket.io -->
<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
<script>
  const socket = io("http://localhost:3000"); // Ganti URL dengan alamat server Anda jika berbeda
  const nim = "<%= admin.nip %>";

  // Saat terhubung, bergabung dengan room 'adminfti'
  socket.on("connect", () => {
    console.log("Connected to server");
    socket.emit("join", nim); // Emit untuk bergabung dengan room 'adminfti'
  });
  
  // Menerima notifikasi kegiatan baru
  socket.on("new_permintaan", (data) => {
    console.log("Notifikasi baru:", data);
    showNotification(data);
  });
  
  // Fungsi untuk menampilkan notifikasi di dashboard
  function showNotification(data) {
  const notificationContainer = document.getElementById("notification-container");
  const notification = document.createElement("div");
  notification.className = "notification";
  notification.innerHTML = `
    <div class="notification-title">${data.message}</div>
    <div class="notification-message">${data.permintaan.isi}</div>
    <div class="notification-timestamp">${data.permintaan.tanggal}</div>
  `;

  // Event listener untuk mengarahkan ke URL ketika notifikasi diklik
  notification.addEventListener('click', () => {
    window.location.href = data.permintaan.href;
  });

  notificationContainer.appendChild(notification);

  // Menghapus notifikasi dengan efek fade out setelah beberapa detik
  setTimeout(() => {
    notification.classList.add('notification-fade-out');
    setTimeout(() => {
      notificationContainer.removeChild(notification);
    }, 300); // Waktu transisi sesuai dengan CSS transition
  }, 5000);
}
  </script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script src="/preline/preline.js"></script>
</body>

</html>